.hook {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topDiv {
  height: 250px;
  background: no-repeat center/100%;
}

.bottomDiv {
  position: relative;
  height: 1200px;
}

.intro {
  font-size: 3em;
  top: 12%;
  color: rgb(24, 3, 53);
  left: 25%;
}

.header {
  border-radius: 10px;
  width: 80%;
  height: 200px;
  top: -7%;
  left: 9%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>h1 {
  font-size: 4em;
}

.header>h1 {
  color: antiquewhite;
}

.header>img {
  max-height: 200px;
  width: auto;
}

.tabsWrap {
  display: flex;
  justify-content: space-around;
  height: 480px;
  margin-top: 20%;
  margin-bottom: 10%;
  padding: 20px;
  perspective: 700px;
}

.menu, .contact {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-radius: 15px;
  z-index: -3;
}

.menu {
  border: 1px solid red;
}

.contact {
  background-color: #8F1965;
}

.menuDes, .contactDes, .header>h1,.intro, .itemInfo {
  font-family: cursive;
}

.menuDes, .contactDes {
  font-size: 3em;
  text-align: center;
}

.menuDes {
  color: rgb(6, 20, 0);
}

.contactDes {
  color: ghostwhite;
}

.menuBut, .contactBut {
  position: absolute;
  top: 18%;
  font-size: 2.3em;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 1px 2px 2px gray;
}

.menuBut {
  background-color: crimson;
  color: #fff;
  left: 30%;
}

.contactBut {
  background-color: rgb(43, 226, 156);
  left: 50%;
}

.menuBut:focus, .contactBut:focus {
  outline: none;
}

.contact {
  width: 48%;
  transition: width 3s;
  border: 1px solid #000;
}

.slide-out-left, .slide-out-right, .intro, .table, .header {
  position: absolute;
}

.slide-out-left {
  transform: rotate3d(1, 1, 0, 180deg);
  opacity: 0;
  transition: transform 2.5s, opacity 3s;
}

.slide-out-right {
  transform: rotate3d(1, 0, 1, 180deg);
  opacity: 0;
  transition: transform 2.5s, opacity 3s;
}

.slide-in-left {
  transform: rotate3d(1, 1, 0, 0deg);
  opacity: 1;
  transition: transform 2.5s, opacity 3s;
}

.slide-in-right {
  transform: rotate3d(1, 0, 1, 0deg);
  opacity: 1;
  transition: transform 2.5s, opacity 3s;
}

.table {
  display: grid;
  background-color: #fff;
  position: absolute;
  transform: translateX(-1800px);
  transition: all 2.6s ease-in;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 10px;
  top: 35%;
  left: 5%;
  width: 90%;
  z-index: 10;
  height: 720px;
}

.itemWrap {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: rgba(192, 192, 192, 0.1);
  border-radius: 15px;
}

.itemImg {
  max-width: 170px;
  height: auto;
  margin-top: 15%;
  border-radius: 50%;
}

.itemDes {
  position: absolute;
  top: 0;
  left: 3%;
  width: 100%;
  height: 100%;
}

.itemInfo {
  margin-top: 10px;
  background-color: rgb(204, 85, 6);
  color: #fff;
  width: 50%;
  padding: 5px 0 5px 15px;
  border-radius: 20px;
  text-align: left;
}

.itemDescript {
  margin-top: 48%;
  margin-left: 18%;
  font-size: 0.8em;
  width: 60%;
  padding: 5px;
  border: 2px solid silver;
  background-color: #fff;
  border-radius: 15px;
}

.itemPrice {
  display: block;
  position: absolute;
  top: 40%;
  left: 79%;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: left;
  width: 90px;
  font-size: 1.3em;
  background-color: rgb(204, 85, 6);
}

@media only screen and (max-width: 1030px) {
  .header {
    height: 250px;
  }
  .header>h1, .intro {
    font-size: 4.5em;
  }
  .header>img {
    max-height: 200px;
  }
  .menuDes, .contactDes {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    height: 200px;
  }
  .header>h1, .intro {
    font-size: 3.5em;
  }
  .header>img {
    max-height: 150px;
  }
  .tabsWrap {
    flex-direction: column;
    align-items: center;
  }
  .menu, .contact {
    width: 90%;
  }
  .contact {
    margin-top: 30px;
  }
  .menuDes, .contactDes {
    font-size: 2em;
  }
  .contactBut, .menuBut {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 430px) {
  .header>h1, .intro {
    font-size: 1.5em;
  }
  .header>img {
    max-height: 120px;
  }
}

@media only screen and (max-width: 330px) {
  .header {
    top: -15%;
    left: 8%;
    height: 150px;
    width: 85%;
  }
  .header>h1, .intro {
    font-size: 1.2em;
  }
  .header>img {
    max-height: 100px;
  }
}